
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #27272A;
}
.navbar {
    position: fixed;
    background-color: #27272a20;
    backdrop-filter: blur(25px);
  }

.purple200{
    color: #E9D5FF;
}

.white{
    color: white;
}

